
.wrapper
  .main
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} pixtablo
          %b.put_n .
          %b.put_s .
          %b.put_t .
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"} FEATURES
            %li
              %a{:href => "#"} PRICING
            %li
              %a{:href => "#"} CONTACT
    %section.page1
      .page_container
        %h1 SURPRISEA & ENTERTAINMENT YOURSELF WITH TABLO GAMES
        %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %button.btn.btn-purple
          SIGN UP
          %i.fa.fa-arrow-right
      = image_tag 'img_iphone-2.png', class: 'iphone-image'
      .inside_iphone
        %h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        = image_tag 'tablo-games.png', class: 'image_ikon'
        %h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        = image_tag 'tablo-games-2.png', class: 'image_ikon'
      .inside_iphone_below
        %h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        %h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        = image_tag 'tablo-games-2.png', class: 'image_ikon'
        = image_tag 'tablo-games-3.png', class: 'image_ikon'
    %section.page2
      .page_container
        %h1 SURPRISEA & ENTERTAINMENT YOURSELF WITH TABLO GAMES
        %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %button.btn.btn-github
          Download on Github
          %i.fa.fa-arrow-right
      = image_tag 'iPad.png',class: 'ipad_img'
    %section.page3
      .page_container
        %h1 Third page scroll
        %h2 Create an scroll page plugin
    %section.page4
      .page_container
        %h1 Fourth page scroll
        %h2 Create an scroll page plugin
